dist: xenial
language: python
python:
  - "3.5"
  - "3.6"
  - "3.7"
  - "nightly"
install:
  - pip install -r requirements.txt
  - python setup.py develop
script: pytest --cov=textgraph --cov-fail-under=100 --no-cov-on-fail --cov-report term

after_success:
  - codecov
